// Place all the styles related to the Api::Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokeimg {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  padding: 30px;
}

.detailimg {
  width: 300px;
  height: 300px;
}

.poketail {
  display: float;
  float: right;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  margin-top: 200px;
  margin-right: 100px;
}

.pokeimg:hover {
  z-index: 1;
  width: 250px;
  height: 250px;

}

.pokelist {
  width: 468px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  overflow-y: auto;
  max-height: 750px;
}

.unimon {
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px 5px;
  width: 460px; 
  height: 200px;
  color: white;
  background: darkkhaki;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
}